
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #383333;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color:#170328;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

*.navbar-nav .nav-link hover{
    font-weight: bold;
    color: #08600b
}
.navbar-nav .nav-link{
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px;

}
.navbar-brand{
    background-color: rgb(4, 18, 46);
}
/* Intro Section */
#intro {
    padding: 50px 0;
    background-color: #EADBC8;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.intro-text {
    flex: 1;
}

.intro-text h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.intro-text p {
    font-size: 1.2em;
}

.intro-image {
    flex: 1;
}

.intro-image img {
    width: 100%;
    border-radius: 10px;
}

/* About Section */
#about {
    padding: 30px 0;
    background-color:  #F8F0E5;
}

.container {
    width: 80%;
    margin: auto;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

/* Projects Section */
#projects {
    padding: 30px 0;
    background-color: #DAC0A3;
}

#projects .project-grid {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.project-card {
    background-color: #15d57f;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
        background-color: #f4f4f4;
}
/* Contact Section */
#contact {
    background-color: #EADBC8;
    color:rgb(4, 18, 46);
    padding: 40px 0;
    text-align: center;
}

#contact p {
    font-size: 1.2em;
}

footer {
    background-color: #170328;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
